[Locations]
script_file = ./randomstandard.py

name = Random Regular Mode 

[Details]
# Name of the bot's creator/developer
developer = Nilssius

description = Randomly decides a regular game mode (1v1/2v2/3v3) after every kickoff by teleporting bots outside the field. Only works with initial 3v3 setup. First player of each team will never get benched.

fun_fact = Works with goal reset disabled. You can change probability of each game mode at the top of the .py file.

#Git
github = https://github.com/Nutelladroid/RandomStandard/
# Programming language
language = python

tags = enables-randomregularmode
